/* css/mahasiswa.css */

.mahasiswa-content {
    margin-left: 220px;
    padding: 30px;
}

.mahasiswa-card {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
}

.mahasiswa-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.mahasiswa-table th,
.mahasiswa-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.mahasiswa-table th {
    background-color: #34495e;
    color: white;
}